table, th, td {
    border: 1px solid;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
  }

td,th{
    padding: 20px;
    margin:5px;
}

.reg {
    background-color: #4CAF50; /* Green */
    border-radius: 15px;
    padding: 15px 32px;
    margin-left: auto;
    display: inline-block;
    font-size: 16px;
    margin-left: 48%;
    margin-bottom: 30px;
  }
  
.reg a{
    color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    text-align: center;
  }